@{
    ViewBag.Title = "Home Page";
}




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Add New Room
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Room</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label" style="font-weight:bold">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Enter Room Name">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label" style="font-weight:bold">Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Enter Location">
                        </div>
                    </div>
                    <br />

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label" style="font-weight:bold">Limit</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" class="form-control" placeholder="Number of Participants Here">
                        </div>
                    </div>



                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Submit"> 
            </div>
        </div>
    </div>
</div>

<html>
<head>

</head>
<body>
    <br>
    <br>

    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Room</th>
                <th>Location</th>
                <th>Limit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
         
        </tbody>

    </table>
</body>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
</html>
